<% 
  const INIT_YEAR = 2021;
  const curYear = (new Date()).getFullYear();
  const text = INIT_YEAR === curYear ? `${INIT_YEAR}` : `${INIT_YEAR}-${curYear}`;
%> 
<footer class="black-band w-screen py-2 flex justify-center mt-5"><span>Copyright © <%= text %> hantabaru1014</span></footer>