<% function main(__append) { %> 
<div>
  <h2 class="sec-head text-3xl">ご指定のページは見つかりませんでした</h2>
  <p>
    削除されたか、移動されたか、まだ作成されていない可能性があります。もう一度リンクをお確かめください。<br>
  </p>
  <div class="flex justify-center mt-3">
    <a class="" href="javascript:history.back()">戻る</a>
  </div>
</div>
<% } %> 
<% function headBottom(__append) { %>
  <meta name="robots" content="noindex">
<% } %>

<% 
  const pageConf = {
    pageTitle: 'Page Not Found',
    // pageDescription: '',
  };
%> 
<%- include('_layout/_default', {global, pageConf, main, headBottom}); %>