<% function headBottom(__append) { %>
  
<% } %>
<% function main(__append) { %> 
  <div class="flex flex-col lg:flex-row lg:space-x-5 justify-between">
    <div class="space-y-8 flex-grow">
      <div>
        <h2 class="sec-head text-3xl">このサイトについて</h2>
        <p>このサイトは主に管理人が作成したソフトウェアやWebツールを紹介・配布しています。</p>
      </div>
      <div>
        <h2 class="sec-head text-3xl">管理人について</h2>
        <dl class="fmt-dl">
          <dt>ID</dt><dd>hantabaru1014</dd>
          <dt>Twitter</dt><dd><a href="https://twitter.com/hantabaru1014">https://twitter.com/hantabaru1014</a></dd>
          <dt>Github</dt><dd><a href="https://github.com/hantabaru1014">https://github.com/hantabaru1014</a></dd>
          <dt>E-Mail</dt><dd>hantabaru1014@gmail.com</dd>
        </dl>
      </div>
    </div>
    <div>
      <a class="twitter-timeline" width="320px" height="600px" data-theme="light" data-chrome="nofooter" href="https://twitter.com/hantabaru1014?ref_src=twsrc%5Etfw">Tweets by hantabaru1014</a>
    </div>
  </div>
<% } %> 
<% function bodyBottom(__append) { %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% } %>

<% 
  const pageConf = {
    pageTitle: 'About',
    pageDescription: 'このサイトについて。管理人(hantabaru1014)について。',
    lastUpdate: '2021/02/15'
  };
%> 
<%- include('_layout/_default', {global, pageConf, headBottom, main, bodyBottom}); %>